{% extends "base.html" %}
{% block title %}Benutzerverwaltung{% endblock %}
{% block content %}
<div class="page-header">
    <h2>Benutzerverwaltung</h2>
</div>
<div class="admin-table-container">
    <table id="user-table">
        <thead>
            <tr>
                <th>Benutzername</th>
                <th>E-Mail</th>
                <th>Admin-Status</th>
                <th style="width: 200px; text-align: center;">Aktionen</th>
            </tr>
        </thead>
        <tbody>
            </tbody>
    </table>
</div>
{% endblock %}