<!-- templates/project_overview.html -->
{% extends "base.html" %}
{% block title %}Projektübersicht{% endblock %}
{% block content %}
<div class="page-header">
    <h2 id="projectName">Wird geladen...</h2>
    <a href="#" id="go-to-editor-btn" class="btn btn-primary hidden">&#9998; Zum Editor</a>
</div>
<div class="view-switcher">
    <button class="btn btn-primary" id="text-view-btn">Textansicht</button>
    <button class="btn btn-secondary" id="graphical-view-btn">Grafische Ansicht</button>
</div>
<div id="text-view-content" class="overview-container-text"><p>Lade Projektübersicht...</p></div>
<div id="graphical-view-content" class="overview-container-graphical hidden"></div>
{% endblock %}